<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="rec" >
      <ion-icon [name]="selectedTab === 'rec' ? 'clipboard' : 'clipboard-outline'"></ion-icon>
      <ion-label>Reclamation</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inter">
      <ion-icon  [name]="selectedTab === 'planing' ? 'document' : 'document-outline'"></ion-icon>
      <ion-label>Intervention</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()"  >
      <ion-icon [name]="selectedTab === 'logout' ? 'log-out' : 'log-out-outline'"></ion-icon>
      <ion-label>logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
