
<ion-content [fullscreen]="true" class="card-background-page">
  <ion-searchbar  debounce="100" name="Search" [(ngModel)]="Search"></ion-searchbar>

    <ion-card *ngFor="let item of articles|article:Search">
      <img src="{{fileUrl+item.img}}" style="height: 120px" width="100%"/>
      <div class="card-title">{{item.nom}}</div>
      <div class="card-subtitle">{{item.prix}}£ <ion-icon name="cart" (click)="panier(item._id)" style="position: relative;left:80%"></ion-icon>
      </div>

    </ion-card>






</ion-content>

