<ion-card-header>
  <ion-icon name="trash-outline" style="position: relative;left: 89%;color:red " (click)="delete()"></ion-icon>

  <ion-card-title>{{ article.nom }}</ion-card-title>

</ion-card-header>
<ion-card-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="8">
      <ion-label color="secondary">
        <b>{{ article.prix | currency:'EUR' }}</b>

      </ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-input [(ngModel)]="quant"></ion-input>


        <ion-icon name="add" fill="clear" style="color: #3a7be0"  (click)="plus()" ></ion-icon>

        <ion-icon name="remove" fill="clear"  style="color: red" (click)="moins()" ></ion-icon>
    </ion-col>
  </ion-row>
</ion-card-content>
