<ion-content [scrollEvents]="true" [fullscreen]="true">
  <ion-slides #mySlider pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card style="width:100%;">
        <img class="img"  src="{{fileUrl+userup.img}}" alt="">
        <ion-card-header>
          <ion-card-title>{{nom}} {{prenom}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{email}}
          {{tel}}
          {{adr}}
        </ion-card-content>
        <ion-footer>
          <ion-button expand="block" shape="round" width="50%" (click)="swipeNext()">
            <ion-text color="white">modifier</ion-text>
          </ion-button>
        </ion-footer>
      </ion-card>

    </ion-slide>

    <ion-slide>
      <form  class="ion-margin ion-padding ion-text-center">
        <div class="ion-margin-vertical">
          <ion-item>



            <ion-input type="text" placeholder="Nom"  name="name"  [(ngModel)]="nom" >
              <ion-icon name="person" slot="start" color="medium" ></ion-icon>
            </ion-input>


          </ion-item>

        </div>

        <div class="ion-margin-vertical">
          <ion-item>



            <ion-input type="text" placeholder="Prenom" name="lastname"  [(ngModel)]="prenom">
              <ion-icon name="person" slot="start" color="medium"></ion-icon>
            </ion-input>


          </ion-item>

        </div>

        <div class="ion-margin-vertical">
          <ion-item>



            <ion-input type="email" placeholder="Adresse email" name="email"  [(ngModel)]="email">
              <ion-icon  name="mail" slot="start" color="medium"></ion-icon>
            </ion-input>


          </ion-item>

        </div>
        <div class="ion-margin-vertical">
          <ion-item>



            <ion-input  type="number" placeholder="tel" name="tel"  [(ngModel)]="tel">
              <ion-icon  name="call" slot="start" color="medium"></ion-icon>
            </ion-input>


          </ion-item>

        </div>
        <div class="ion-margin-vertical">
          <ion-item>



            <ion-input  type="number" placeholder="tel" name="adr"  [(ngModel)]="adr">
              <ion-icon  name="call" slot="start" color="medium"></ion-icon>
            </ion-input>


          </ion-item>

        </div>
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-input  type="password" placeholder="Mot de passe" name="password"  [(ngModel)]="motPasse">
              <ion-icon name="key" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>

        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-input type="file" name="file" (change)="onFileSelected($event)">
            </ion-input>
          </ion-item>
        </div>
        <ion-button slot="fixed" size="large" expand="block" shape="round" width="50%" (click)="onSubmit()">
          <ion-text color="white">modifier</ion-text>
        </ion-button>

      </form>




    </ion-slide>


  </ion-slides>

</ion-content>
